@font-face {
	font-family: Sansation;
	src: url(../fonts/Sansation/Sansation_Regular.ttf) format('truetype');
}

@font-face {
	font-family: journal;
	src: url(../fonts/Journal/journal.ttf) format('truetype');
}

@font-face {
	font-family: DistantGalaxy;
	src: url(../fonts/Distant-Galaxy/DISTGRG_.ttf) format('truetype');
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
html {
	background: url(../Images/campbell.jpg);
	background-size: contain;
	background-position: center;
}
/* navegacion */
.header {
	background-color: #000000;
	height: 80px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 100;
}
body {
	padding-top: 100px;
}
.nav {
	display: flex;
	justify-content: space-around;
	font-family: Sansation;
	margin: 0 auto;
}

.nav-link {
	color: white;
	text-decoration: none;
}
#nav-img {
	height: 33px;
	position: relative;
	top: 5px;
	left: 0.4px;
}
.logo {
	font-size: 35px;
	align-self: center;
	font-weight: bold;
}

.nav-menu {
	display: flex;
	list-style: none;
}

.nav-menu-item {
	font-size: 18px;
	margin: 0 10px;
	line-height: 80px;
	text-transform: uppercase;
	width: max-content;
}

.nav-menu-link {
	padding: 8px 12px;
	border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
	background-color: #1173b8;
	transition: 0.5s;
}
.muerte {
	margin: 1rem;
}
/* TOGGLE */
.nav-toggle {
	color: white;
	background: none;
	border: none;
	font-size: 30px;
	padding: 0 20px;
	line-height: 60px;
	cursor: pointer;

	display: none;
}

/* fin de css de navegacion */

body {
	text-align: center;
}

h1 {
	color: #ffffff;
	font-family: Sansation;
}

h2 {
	font-family: journal;
	font-size: 40px;
}

h3,
h4,
h5,
h6 {
	text-align: center;
	background: #ffffff;
	font-family: sans-serif;
	color: #333333;
	margin: auto;
}

#quote {
	font-family: journal;
	font-size: 30px;
	margin: 30px 0 6px 0;
}
small,
medium {
	display: block;
}
#more {
	padding: 30px;
	margin: auto;
}
input {
	width: 80%;
}
.form-input {
	margin: 1rem;
}
/* sets all headings to a red color */
/* The color can be specified by: Color name, RGB value, Hex value */

/* Set placement of full page content */
#wrapper {
	margin: auto;
	width: 90%;
	background: #ffffff;
	border: 2px solid rgb(0, 0, 0);
}

.andy-img {
	max-width: 100%;
	height: 33vh;
	margin-bottom: -2rem;
}
.muerte-img {
	max-width: 100%;
	height: 33vh;
	margin-bottom: 0.5rem;
}
.lapida {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.andy-principal {
	padding: 20px;
}
.iframe {
	padding-right: 25px;
}
section {
	margin: 1rem;
}
#more {
	display: none;
}
#myBtn {
	color: #1173b8;
}
#myBtn:hover {
	color: #1384d5;
	text-decoration: underline;
	cursor: pointer;
}
.footer-absolute {
	width: 100%;
	background-color: #676767ad;
	position: fixed;
	bottom: 0;
	height: auto;
	padding: 10px;
	justify-content: center;
	color: #fff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
.footer-relative {
	width: 100%;
	background-color: #676767ad;
	position: rela;
	height: auto;
	bottom: 0;
	margin-top: 1rem;
	width: 100%;
	padding: 10px;
	justify-content: center;
	color: #fff;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
		'Lucida Sans', Arial, sans-serif;
}
#styleswitch {
	position: absolute;
	top: 0;
	right: 15px;
	background: #000;
	padding: 13px;
}

#styleswitch ul li a {
	font-size: 12px;
	color: #fff;
	text-decoration: none;
}

#styleswitch ul li a:hover {
	text-decoration: underline;
}

#contact_form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0px 0px 10px 0px;
	padding: 50px;
}

#tables {
	margin-left: 100px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
}

th {
	text-align: center;
}

td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	vertical-align: top;
	border-bottom: 1px solid black;
	padding-bottom: 2px;
	padding-right: 30px;
}

.disp-inline {
	display: inline;
	padding: 30px;
}

div#ui-accordion-accordion-panel-0 {
	height: 900px;
}

/* Style the tab */
.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	margin-top: 1rem;
	background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
	background-color: #ccc;
}
iframe {
	margin: 1rem;
}
/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
}
.andy-locaciones {
	margin: 1rem;
}
.miller-collection {
	color: rgb(255, 0, 0);
	text-shadow: 2px 2px #000000;
}
@media screen and (min-width: 1020px) {
	.tab {
		overflow: hidden;
		border: 1px solid #ccc;
		background-color: #f1f1f1;
		display: flex;
		justify-content: space-evenly;
	}
	#wrapper {
		margin: auto;
		width: 70%;
		background: #ffffff;
		border: 2px solid rgb(0, 0, 0);
	}
}
/* MOBILE */
@media (max-width: 1020px) {
	body {
		padding-top: 70px;
	}

	.header {
		height: 60px;
	}

	.logo {
		font-size: 25px;
		padding: 0 20px;
		line-height: 60px;
	}

	.nav-menu {
		flex-direction: column;
		align-items: center;
		margin: 0;
		background-color: #2c3e50;
		position: fixed;
		top: 60px;
		width: 100%;
		padding: 20px 0;

		height: calc(100% - 60px);
		overflow-y: auto;

		left: 100%;
		transition: left 0.3s;
	}

	.nav-menu-item {
		line-height: 70px;
	}

	.nav-menu-link:hover,
	.nav-menu-link_active {
		background: none;
		color: #83c5f7;
	}

	.nav-toggle {
		display: block;
	}

	.nav-menu_visible {
		left: 0;
	}

	.nav-toggle:focus:not(:focus-visible) {
		outline: none;
	}
}
